@import 'colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding: 30px;
    background-color: $primary-background;
}

h1 {
    color: $primary-color;
    margin-bottom: 30px
}

h2 {
    color: $secondary-color;
}

table {
    border-collapse: collapse;
    width: 60vw;
    margin: 0 auto;
}

td, th {
    border: 1px solid $primary-color;
    padding: 10px;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: $secondary-background;
}

tr:hover {
  background-color: $secondary-color;
  color: $secondary-background;
}

.canvas-percentage-container {
    width: 40%;
    margin: 50px auto;
}

.canvas-line-container {
    width: 90%;
    margin: 50px auto;
}

footer {
    margin-top: 40px;
    background-color: $secondary-background;
}

footer a {
    color: $secondary-color;
}