@import 'colors.scss';
@import 'spacing.scss';
@import 'borders.scss';
@import 'fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $base-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

body {
    text-align: center;
    padding: $base-padding;
    background-color: $primary-background;
}

h1 {
    color: $primary-color;
    font-family: $large-font;
    font-size: $large-font-size;
    line-height: $large-line-height;
}

h2 {
    color: $secondary-color;
    margin: $base-margin;
    font-style: italic;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

.tablePercentage {
    width: 60vw;
}

.tableInteractions {
    width: 80vw;
}

td, th {
    border: $base-border-thickness solid $primary-color;
    padding: $small-padding;
    font-size: $small-font-size;
    line-height: $small-line-height;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: $secondary-background;
}

tr:hover {
  background-color: $secondary-color;
  color: $secondary-background;
}

.canvas-percentage-container {
    width: 40%;
    margin: $base-margin auto;
}

.canvas-line-container {
    width: 90%;
    margin: $base-margin auto;
}

footer {
    margin-top: $base-margin;
    padding: $base-padding;
    background-color: $secondary-background;
    border-radius: $base-border-radius;
}

footer a {
    color: $secondary-color;
    text-decoration: none;
    font-weight: bold;
}