@import 'colors.scss';
@import 'spacing.scss';
@import 'borders.scss';
@import 'fonts.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $base-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

body {
    text-align: center;
    padding: $base-padding;
    background-color: $primary-background;
}

h1 {
    color: $primary-color;
    font-family: $large-font;
    font-size: $large-font-size;
    line-height: $large-line-height;
}

h2 {
    color: $secondary-color;
    margin: $base-margin;
    font-style: italic;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

.tablePercentage {
    width: 60vw;
}

.tableInteractions {
    width: 80vw;
    
}

td, th {
    border: $base-border-thickness solid $primary-color;
    padding: $small-padding;
    font-size: $small-font-size;
    line-height: $small-line-height;
}

th {
    font-weight: bold;
    text-transform: uppercase;
    background-color: $secondary-color;
    color: $secondary-background;
}

tr:nth-child(even) {
    background-color: $secondary-background;
    transition: 200ms all ease-in-out;
    
}

tr:hover {
  background-color: $secondary-color;
  color: $secondary-background;
  border-top-left-radius: $base-border-radius;
}

.sector-id-button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: 200ms all ease-in-out;
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
    margin: 5px;

    span {
        margin-left: 5px;
    }
}

.sector-id-button:hover {
    background-color: $primary-color;
    color: $primary-background;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.canvas-percentage-container {
    width: 40%;
    margin: $base-margin auto;
}

.canvas-line-container {
    width: 90%;
    margin: $base-margin auto;
}

footer {
    display: flex;
    margin-top: $base-margin;
    padding: $base-padding;
    background-color: $secondary-background;
    border-radius: $base-border-radius;
    letter-spacing: 2px;
    align-items: center;
    justify-content: center;
    height: 200px;
    
}

footer a {
    margin: 0 0 0 5px;
    color: $secondary-color;
    text-decoration: none;
    font-weight: bold;
    transition: 200ms all ease-in-out;
    position: relative;
}

footer a:hover {
    
    color: $primary-color;
    border-bottom: $base-border-thickness solid $primary-color;
    transform: translateY(-5px);
}